$fontfamily-title:"Pacifico", cursive;
$header-bg:#c19f2ea4;
$search-bg:rgb(241, 238, 238);
$title-color:rgb(84, 47, 47);
$modal-overlay-bg:rgba(0, 0, 0, 0.5);
$modal-bg:rgb(255, 255, 255);
$modal-input-border:rgb(221, 221, 221);
$whitesmoke:whitesmoke;
$btn-bg-ok:#0367a6;
$btn-bg-ok-hover:#42aaeb;
$text:rgb(84, 47, 47); 
$text-hover:rgb(95, 9, 9); 
$link-content-color:rgb(45, 38, 38);
$red:red; 
$btn-bg-no-hover:rgb(249, 97, 97);
$auth-btn-bg:rgba(151, 135, 83, 0.643);
$auth-btn-bg-hover: rgba(102, 87, 41, 0.643);
$book-box-shadow:rgba(0, 0, 0, 0.702);
$book-box-border: rgb(14, 94, 14);
$book-front:rgb(0, 77, 38);
$page-front-color:rgb(255, 204, 0);
$footer-bg:rgba(193, 159, 46, 0.644);
$recipe-bg:rgb(253, 247, 227);
$recipe-border:rgb(217, 196, 161);
$recipe-box-shadow:rgba(0, 0, 0, 0.2);
$home-bg:rgba(255, 255, 255, 0.8);
$gray:gray;
$black:black;
$book-list-bg:rgb(232, 213, 104);
$overlay-bg:#008997;
$sing-btn-bg:#0367a6;
$input-border:rgb(210, 208, 208);
$user-input-img-bg:rgb(208, 202, 202);
