.conteiner {
    max-width: 1450px;
    margin: 0 auto;
    padding: 1rem;
}
.header-block{
    background-color:#c19f2ea4;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    

    // .header__logo

    &__logo {
        width: 10rem;
    }

    // .header__logo-img

    &__logo-img {
        width: 100%;
    }

    // .header__search

    &__search {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // .header__search-title

    &__search-title {
        font-size: 1rem;
        margin-bottom: 0.5rem;
        
    }

    // .header__search-form

    &__search-form {
        margin-top: 2px;
    }
}

.header-title {
    font-size: 6rem;
    font-family: "Pacifico", cursive;
}

.search {

    // .search__form-input

    &__form-input {
        width: 15rem;
        height: 2rem;
        background: rgb(241, 238, 238);
        border-radius: 5px;
        padding-left: 0.5rem;
    }

    // .search__form-btn

    &__form-btn {
        margin-left: 0.5rem;
        background: inherit;
    }
}

.form {

    // .form__btn-img

    &__btn-img {
        width: 100%;
    }
}